Repository coala/corobo, pull requests merged in 2018-07, with the labels that each got.

#573 .coafile: Include tests
  .coafile
  tests/answer_test.py
  tests/coala_lowercase_c_test.py
  tests/coatils_test.py
  tests/deprecate_bot_prefixes_test.py
  tests/explain_test.py
  tests/ghetto_test.py
  tests/git_stats_test.py
  tests/helper.py
  tests/labhub_test.py
  tests/lmgtfy_test.py
  tests/nevermind_test.py
  tests/pitchfork_test.py
  tests/searchdocs_test.py
  tests/ship_it_test.py
  tests/the_rules_test.py
Labels: difficulty/low, process/pending review, size/M

#552 Make Labhub commands accessible only to org members
  plugins/labhub.py
  tests/labhub_test.py
Labels: area/labhub, area/security, bug, enhancement, process/approved, size/S

#590 moban: Moban Sync
  .gitignore
  test-requirements.txt
Labels: process/pending review, size/XS

#592 requirements: Unpin pyopenssl
  .moban.yaml
  requirements.txt
Labels: bug, importance/high, process/pending review, size/XS, upstream

#589 final.py: Remove unused imports
  answers/final.py
Labels: difficulty/newcomer, process/pending review, size/XS, type/style

#591 config.py: Create empty data sub-directory
  config.py
  data/.gitignore
Labels: area/config, process/approved, size/XS
